click==6.7
enum-compat==0.0.2
eventlet==0.20.1
Flask==0.12
Flask-Login==0.4.0
Flask-OAuthlib==0.9.3
Flask-SocketIO==2.8.2
greenlet==0.4.11
itsdangerous==0.24
Jinja2==2.9.3
MarkupSafe==0.23
oauthlib==2.0.1
python-engineio==1.1.0
python-socketio==1.6.2
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
Werkzeug==0.11.15
